---
import { published } from "@data/post"
import Blog from "@layouts/Blog";
import PostCard from "@components/elements/PostCard";
import Subtitle from "@components/utilities/Subtitle";

export async function getStaticPaths() {
	const markdownFiles = await Astro.glob('../../content/**/*.md');
	const posts = published(markdownFiles);
	const tags = posts.flatMap(p => p.tags ?? []);
	const uniqueTags = Array.from(new Set(tags));

	return uniqueTags.map((tag) => {
		return {
			params: { tag: tag },
			props: {}
		};
	})
}

const { tag } = Astro.params;

const markdownFiles = await Astro.glob('../../content/**/*.md')
const posts = published(markdownFiles);
const postsWithTag = posts.filter(p => p.tags?.includes(tag as string));
---

<Blog>
	<Subtitle>{tag}</Subtitle>
	<div class="grid md:grid-cols-2 gap-6 mt-8">
		{postsWithTag.map((p) =>
		<PostCard post={p} />)}
	</div>
</Blog>
