---
import { published } from "@data/post"
import Blog from "@layouts/blog";
import Preview from "@components/blog/preview";

const markdownFiles = await Astro.glob('../content/**/*.md')
const posts = published( markdownFiles );
---

<Blog>
	<div class="grid grid-cols-2 gap-6">
		{posts.map((p) => <Preview post={p} />)}
	</div>
</Blog>
