---
import Blog from "@layouts/blog";

---

<Blog>
    <div class="container mt-24 text-center">
        <span class="bg-gradient-to-r from-blue-500 to-pink-500 bg-clip-text text-transparent font-bold text-4xl">Coming soon...</span>
    </div>
</Blog>
