---
const { fontFamily } = Astro.props
---

<div style={`font-family: ${fontFamily};`}>
    <p class="font-bold text-lg">{ fontFamily }</p>
    <textarea class="textarea textarea-bordered" placeholder="The quick brown fox jumps over the lazy dog"></textarea>
</div>